---
http_interactions:
- request:
    method: get
    uri: https://api.appboy.com/segments/list
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <APPBOY_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2ca36d47d4a0ab6c97478ad8095f950d"
      X-Ratelimit-Limit:
      - '250000'
      X-Ratelimit-Remaining:
      - '249964'
      X-Ratelimit-Reset:
      - '1604329200'
    body:
      encoding: ASCII-8BIT
      string: '{"segments":[{"id":"7ca29dd9-d4cc-4107-9fad-51db7dcf608a","name":"Lapsed
        Users - 7 days","analytics_tracking_enabled":true,"tags":[]},{"id":"2917a7a8-f105-4e0e-9254-ee21453ea1d9","name":"Lapsed
        Users - 30 days","analytics_tracking_enabled":true,"tags":[]},{"id":"550628b7-126c-4ebf-8967-0911ba1d344a","name":"User
        Onboarding - First Week","analytics_tracking_enabled":true,"tags":[]},{"id":"6ea9b456-76ac-47af-b51f-cb0d5b894b2e","name":"User
        Onboarding - Second Week","analytics_tracking_enabled":true,"tags":[]},{"id":"b77d057a-118c-442d-ad79-02a85a1d0ef7","name":"Engaged
        Recent Users","analytics[...]
