---
http_interactions:
- request:
    method: post
    uri: https://api.appboy.com/email/status
    body:
      encoding: UTF-8
      string: '{"email":"john@example.com","subscription_state":"unsubscribed"}'
    headers:
      Authorization:
      - Bearer <APPBOY_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"838a7c62adda8d131d694ae13ba2c5b7"
      X-Ratelimit-Limit:
      - '250000'
      X-Ratelimit-Remaining:
      - '249948'
      X-Ratelimit-Reset:
      - '1604329200'
    body:
      encoding: ASCII-8BIT
      string: '{"message":"success"}'
  recorded_at: Mon, 02 Nov 2020 14:56:10 GMT
recorded_with: VCR 6.0.0
