---
http_interactions:
- request:
    method: post
    uri: https://api.appboy.com/messages/send
    body:
      encoding: UTF-8
      string: '{"messages":{"apple_push":{"alert":"hello"}},"external_user_ids":[1],"segment_ids":[]}'
    headers:
      Authorization:
      - Bearer non-existent
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - ''
      X-Ratelimit-Remaining:
      - ''
      X-Ratelimit-Reset:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Invalid API key: non-existent"}'
  recorded_at: Mon, 02 Nov 2020 14:59:11 GMT
recorded_with: VCR 6.0.0
