---
http_interactions:
- request:
    method: post
    uri: https://api.appboy.com/messages/send
    body:
      encoding: UTF-8
      string: '{"messages":{"apple_push":{"alert":"hello"}},"external_user_ids":[1],"segment_ids":[]}'
    headers:
      Authorization:
      - Bearer <APPBOY_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a14228c1f046b931d46bcda58c84a482"
      X-Ratelimit-Limit:
      - '250000'
      X-Ratelimit-Remaining:
      - '249942'
      X-Ratelimit-Reset:
      - '1604329200'
    body:
      encoding: ASCII-8BIT
      string: '{"dispatch_id":"70ecab38a9cf947cb98ca134fb6a5c2c","message":"success"}'
  recorded_at: Mon, 02 Nov 2020 14:59:09 GMT
recorded_with: VCR 6.0.0
