---
http_interactions:
- request:
    method: post
    uri: https://api.appboy.com/messages/send
    body:
      encoding: UTF-8
      string: '{"messages":{"apple_push":{"alert":"hello"}},"external_user_ids":[1],"segment_ids":[]}'
    headers:
      Authorization:
      - Bearer <APPBOY_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8a971cf64dc8fc1fe808397536b86f9b"
      X-Ratelimit-Limit:
      - '250000'
      X-Ratelimit-Remaining:
      - '249941'
      X-Ratelimit-Reset:
      - '1604329200'
    body:
      encoding: ASCII-8BIT
      string: '{"dispatch_id":"e330e452b33475e7ef80c2360b06bea7","message":"success"}'
  recorded_at: Mon, 02 Nov 2020 14:59:10 GMT
recorded_with: VCR 6.0.0
