---
http_interactions:
- request:
    method: post
    uri: https://api.appboy.com/users/track
    body:
      encoding: UTF-8
      string: '{"attributes":[{"external_id":1,"foo":"bar"}],"events":[{"external_id":1,"name":"baz","time":"2015-02-15
        00:00:00 -0500"}],"purchases":[{"external_id":1,"product_id":1,"time":"2015-02-15
        00:00:00 -0500","currency":"CAD","price":1.0}]}'
    headers:
      Authorization:
      - Bearer non-existent
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - ''
      X-Ratelimit-Remaining:
      - ''
      X-Ratelimit-Reset:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Invalid API key: non-existent"}'
  recorded_at: Sat, 31 Oct 2020 02:40:37 GMT
recorded_with: VCR 6.0.0
