---
http_interactions:
- request:
    method: post
    uri: https://api.appboy.com/users/track
    body:
      encoding: UTF-8
      string: '{"attributes":[{"external_id":1,"foo":"bar"}],"events":[{"external_id":1,"name":"baz","time":"2015-02-15
        00:00:00 -0500"}],"purchases":[{"external_id":1,"product_id":1,"time":"2015-02-15
        00:00:00 -0500","currency":"CAD","price":1.0}]}'
    headers:
      Authorization:
      - Bearer <APPBOY_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"68b326343749fed4d6cc5dda395b5367"
      X-Ratelimit-Limit:
      - '250000'
      X-Ratelimit-Remaining:
      - '250000'
      X-Ratelimit-Reset:
      - '1604113200'
    body:
      encoding: ASCII-8BIT
      string: '{"attributes_processed":1,"events_processed":1,"purchases_processed":1,"message":"success"}'
  recorded_at: Sat, 31 Oct 2020 02:40:36 GMT
recorded_with: VCR 6.0.0
