---
http_interactions:
- request:
    method: post
    uri: https://api.appboy.com/users/export/ids
    body:
      encoding: UTF-8
      string: '{"app_group_id":"<APPBOY_GROUP_ID>","external_ids":[1]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
      Etag:
      - '"7812253cd4ced05813ae188a2e0173b6"'
    body:
      encoding: UTF-8
      string: '{"users":[{"external_id":"1","email":"john@example.com","total_revenue":100.29,"push_subscribe":"subscribed","email_subscribe":"opted_in","custom_attributes":{"custom_attribute":"Yes","foo":"bar","capabilities":["Rewards","Custom
        Survey Questions","Foo","Baz","K-invite","Multi-Redemption"]},"apps":[],"custom_events":[{"name":"baz","first":"2015-02-15T00:16:33Z","last":"2015-02-16T02:04:32Z","count":23},{"name":"Does
        something significant","first":"2015-02-20T03:28:55Z","last":"2015-02-20T03:28:55Z","count":1}],"purchases":[{"name":null,"first":"2015-02-15T00:23:08Z","last":"2015-02-20T03:34:55Z","count":25},{"name":null,"first":"2015-02-20T03:35:44Z","last":"2015-02-20T03:35:44Z","count":1}]}],"invalid_user_ids":[1],"message":"success"}'
  recorded_at: Tue, 03 Mar 2015 19:13:52 GMT
recorded_with: VCR 2.9.2
