---
http_interactions:
- request:
    method: post
    uri: https://api.appboy.com/users/export/ids
    body:
      encoding: UTF-8
      string: '{"app_group_id":"<APPBOY_GROUP_ID>","external_ids":[1]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
      Etag:
      - '"7812253cd4ced05813ae188a2e0173b6"'
    body:
      encoding: UTF-8
      string: '{"users":[{"external_id":"1","first_name":"John","last_name":"Doe","email":"john@example.com","country":"CA","language":"en","gender":"M","time_zone":"Eastern Time (US & Canada)","total_revenue":10.0,"push_subscribe":"opted_in","email_subscribe":"subscribed","push_tokens":[],"custom_attributes":{"Confirmed":true,"Region":"Quebec, QC","Language":"fr"},"devices":[{"model":"iPhone 4","os":"iOS 7.1.2","carrier":"fido","idfv":"3376EF4B-4994-42F3-821D-D1A595B90155"}],"apps":[{"name":"Zweet Appraisal","platform":"iOS","version":"1.5.0","sessions":1473,"first_used":"2014-07-29T18:24:24Z","last_used":"2015-02-25T15:02:16Z"}],"custom_events":[{"name":"Button Tapped","first":"2014-07-29T18:24:29Z","last":"2015-02-19T02:06:06Z","count":67}],"campaigns_received":[{"name":"Test Regular","last_received":"2015-02-05T19:20:59Z"}],"cards_clicked":[{"name":"QA News Card"}],"purchases":[{"name":null,"first":"2015-02-15T00:23:08Z","last":"2015-02-20T03:34:55Z","count":25},{"name":null,"first":"2015-02-20T03:35:44Z","last":"2015-02-20T03:35:44Z","count":1}]}],"message":"success"}'
  recorded_at: Tue, 03 Mar 2015 19:13:52 GMT
recorded_with: VCR 2.9.2
