---
http_interactions:
- request:
    method: post
    uri: https://api.appboy.com/users/delete
    body:
      encoding: UTF-8
      string: '{"app_group_id":"<APPBOY_GROUP_ID>","external_ids":[1,2],"appboy_ids":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"deleted":1,message":"success"}'
  recorded_at: Tue, 27 Jun 2017 14:44:20 GMT
recorded_with: VCR 3.0.3
