---
http_interactions:
- request:
    method: post
    uri: https://api.appboy.com/users/delete
    body:
      encoding: UTF-8
      string: '{"external_ids":[1,2],"appboy_ids":[]}'
    headers:
      Authorization:
      - Bearer <APPBOY_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"65eb7f14d37c91dd4fabfb8d9e8818ca"
      X-Ratelimit-Limit:
      - '250000'
      X-Ratelimit-Remaining:
      - '249999'
      X-Ratelimit-Reset:
      - '1604113200'
    body:
      encoding: ASCII-8BIT
      string: '{"deleted":2,"message":"success"}'
  recorded_at: Sat, 31 Oct 2020 02:46:36 GMT
recorded_with: VCR 6.0.0
