---
http_interactions:
- request:
    method: post
    uri: https://api.appboy.com/campaigns/trigger/send
    body:
      encoding: UTF-8
      string: '{"api_key":"app_group_id","audience":"audience","broadcast":"broadcast","campaign_id":"campaign_id","recipients":"recipients","send_id":"send_id","trigger_properties":"trigger_properties"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - ''
      X-Ratelimit-Remaining:
      - ''
      X-Ratelimit-Reset:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Invalid App Group API Identifier: app_group_id"}'
  recorded_at: Wed, 25 Apr 2018 20:11:42 GMT
recorded_with: VCR 4.0.0
