---
http_interactions:
- request:
    method: post
    uri: https://api.appboy.com/messages/schedule/create
    body:
      encoding: UTF-8
      string: '{"external_user_ids":[12345],"schedule":{"time":"2020-11-12T00:00:00+02:00","in_local_time":false},"messages":{"apple_push":{"alert":"hello"}}}'
    headers:
      Authorization:
      - Bearer non-existent
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - ''
      X-Ratelimit-Remaining:
      - ''
      X-Ratelimit-Reset:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Invalid API key: non-existent"}'
  recorded_at: Mon, 02 Nov 2020 14:31:42 GMT
recorded_with: VCR 6.0.0
