---
http_interactions:
- request:
    method: post
    uri: https://api.appboy.com/users/delete
    body:
      encoding: UTF-8
      string: '{"app_group_id":"non-existent","external_ids":[<APPBOY_TEST_SEGMENT>],"appboy_ids":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Invalid App Group API Identifier: non-existent"}'
  recorded_at: Fri, 17 Feb 2017 02:32:31 GMT
recorded_with: VCR 2.9.3
