---
http_interactions:
- request:
    method: post
    uri: https://api.appboy.com/users/delete
    body:
      encoding: UTF-8
      string: '{"app_group_id":"non-existent","external_ids":[1,2],"appboy_ids":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Invalid App Group API Identifier: non-existent"}'
  recorded_at: Tue, 27 Jun 2017 14:45:31 GMT
recorded_with: VCR 3.0.3
