---
http_interactions:
- request:
    method: post
    uri: https://api.appboy.com/users/export/segment
    body:
      encoding: UTF-8
      string: '{"segment_id":"<APPBOY_TEST_SEGMENT>","callback_endpoint":"https://example.com"}'
    headers:
      Authorization:
      - Bearer <APPBOY_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"517ec07d7db32fe4af594b7a6c4df92a"
      X-Ratelimit-Limit:
      - '250000'
      X-Ratelimit-Remaining:
      - '249996'
      X-Ratelimit-Reset:
      - '1604113200'
    body:
      encoding: ASCII-8BIT
      string: '{"object_prefix":"983b7b7b-e30e-4a8d-8a58-86807872eb9d-1604112500","url":"https://appboy-data-export.s3.amazonaws.com/OFR0gwchmOhqk5qlN530zg_nMbd_m9LYpZBgansMHP4.zip","message":"success"}'
  recorded_at: Sat, 31 Oct 2020 02:48:20 GMT
recorded_with: VCR 6.0.0
