---
http_interactions:
- request:
    method: post
    uri: https://api.appboy.com/messages/schedule/create
    body:
      encoding: UTF-8
      string: '{"external_user_ids":[12345],"schedule":{"time":"2020-11-12T00:00:00+02:00","in_local_time":false},"messages":{"apple_push":{"alert":"hello"}}}'
    headers:
      Authorization:
      - Bearer <APPBOY_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"87c2f80d38369280c50ffca21dada755"
      X-Ratelimit-Limit:
      - '250000'
      X-Ratelimit-Remaining:
      - '249966'
      X-Ratelimit-Reset:
      - '1604329200'
    body:
      encoding: ASCII-8BIT
      string: '{"dispatch_id":"d58b0e1709fd4eeac774052ffbeb3b0c","schedule_id":"03d6230c-dc86-4db9-acb5-eabfecde64df","message":"success"}'
  recorded_at: Mon, 02 Nov 2020 14:31:41 GMT
recorded_with: VCR 6.0.0
