---
http_interactions:
- request:
    method: post
    uri: https://api.appboy.com/messages/schedule/create
    body:
      encoding: UTF-8
      string: '{"external_user_ids":[12345],"schedule":{"time":"2020-11-12T00:00:00+02:00","in_local_time":false},"messages":{"apple_push":{"alert":"hello"}}}'
    headers:
      Authorization:
      - Bearer <APPBOY_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8d88d739d491e3c704b11a6177731477"
      X-Ratelimit-Limit:
      - '250000'
      X-Ratelimit-Remaining:
      - '249967'
      X-Ratelimit-Reset:
      - '1604329200'
    body:
      encoding: ASCII-8BIT
      string: '{"dispatch_id":"d1b053e8263e532c2c9349f3e4d77899","schedule_id":"09d8d8ff-2c6d-47df-9d14-90bba0096dac","message":"success"}'
  recorded_at: Mon, 02 Nov 2020 14:31:40 GMT
recorded_with: VCR 6.0.0
