---
http_interactions:
- request:
    method: post
    uri: https://api.appboy.com/users/export/ids
    body:
      encoding: UTF-8
      string: '{"external_ids":[1]}'
    headers:
      Authorization:
      - Bearer <APPBOY_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a2bffe53dd0293835943234b29bbd3ce"
      X-Ratelimit-Limit:
      - '250000'
      X-Ratelimit-Remaining:
      - '249997'
      X-Ratelimit-Reset:
      - '1604113200'
    body:
      encoding: ASCII-8BIT
      string: '{"users":[],"invalid_user_ids":[1],"message":"success"}'
  recorded_at: Sat, 31 Oct 2020 02:48:19 GMT
recorded_with: VCR 6.0.0
